In [ ]:
# importing the libraries
import pandas as pd
import numpy as np

In [ ]:
# loading the data
df = pd.read_csv(r"/Users/madhavjha/Documents/anime_csv_file.csv")

In [ ]:
# viewing the first 5 rows
df.head()

,Rank,Title,Score,Episodes,Total time,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama째TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

In [ ]:
# viewing the last 5 rows
df.tail()

,Rank,Title,Score,Episodes,Total time,Months
45,46,"Vinland SagaTV (24 eps)Jul 2019 - Dec 20191,40...",8.74,24,Jul 2019 - Dec 2019,6
46,47,Mushishi Zoku Shou 2nd SeasonTV (10 eps)Oct 20...,8.73,10,Oct 2014 - Dec 2014,3
47,48,Shouwa Genroku Rakugo Shinjuu: Sukeroku Futata...,8.72,12,Jan 2017 - Mar 2017,3
48,49,Mob Psycho 100 IIITV (12 eps)Oct 2022 - Dec 20...,8.71,12,Oct 2022 - Dec 2022,3
49,50,Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...,8.71,4,Feb 1999 - Sep 1999,8

In [ ]:
# viewing the information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    50 non-null     int64
 1   Title   50 non-null     object
 2   Score   50 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ KB

In [ ]:
# viewing the title of the anime at index 3
df.loc[3]["Title"]

'Gintama째TV (51 eps)Apr 2015 - Mar 2016605,113 members'

In [22]:
# function to extract the number of episodes from the string
def extract_episodes(txt):
    check = False
    data = ""
    for i in txt:
      if i == ")":
         check == False
         return data
      if check == True:
           data = data + i
      if i == '(':
           check = True

In [ ]:
# extracting the number of episodes and creating a new colummn called "Episodes"
df["Episodes"] = df["Title"].apply(extract_episodes)

In [ ]:
# removing the " eps" from the "Episodes" column
df["Episodes"] = df["Episodes"].str.replace(" eps","")

In [ ]:
# coverting the data type of the "Episodes" column to integer
df["Episodes"] = df["Episodes"].astype(int)

In [ ]:
# function to extract the time of release from the string
def extraction_time(txt):
    data = ""
    for i in range(len(txt)):
        if txt[i] == ")":
           for j in range(i+1,i+20):
               data += txt[j]

           return data

In [ ]:
# extracting the time of release and creating a new column called "Total time"
df["Total time"] = df["Title"].apply(extraction_time)

In [ ]:
# from datetime importing datetime and extracting Month
from dateutil.relativedelta import relativedelta

def extract_total_months(period):
    try:
        start_str, end_str = period.split(' - ')
        
        start_date = datetime.strptime(start_str,  "%b %Y")
        end_date = datetime.strptime(end_str, "%b %Y")
        
        r = relativedelta(end_date, start_date)
        
        return r.years * 12 + r.months + 1
    
    except Exception:
        return None
    
# making new column for time stamp in months   
df['Months'] = df['Total time'].apply(extract_total_months)

In [28]:
# Anime with the highest score
df[df["Score"] == df["Score"].max()]["Title"]                 #highest score

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
Name: Title, dtype: object

In [ ]:
# Top 5 anime with the highest score
df["Title"].head()

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
1    Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...
2    Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...
3    Gintama째TV (51 eps)Apr 2015 - Mar 2016605,113 ...
4    Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...
Name: Title, dtype: object

In [ ]:
 #highest episodes 
df[df["Episodes"] == df["Episodes"].max()]

,Rank,Title,Score,Episodes,Total time,Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,48

In [ ]:
#top 5 episodes
df["Episodes"].head()

0    64
1    24
2    13
3    51
4    10
Name: Episodes, dtype: int64

In [29]:
 #longest running anime
df[df["Months"] == df["Months"].max()]                                  #longest running anime

,Rank,Title,Score,Episodes,Total time,Months
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110 eps,Jan 1988 - Mar 1997,111